
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    font-size:1.4em;  
    padding-right:0px !important;
}

html {
  overflow-y: inherit !important;
} 
/* Fuentes de letra */

.main-sidebar li.treeview  a:first-child{
    font-family: 'Poppins', sans-serif;
    font-size: 0.95em !important;
    font-weight: normal !important;
}
.skin-yellow-light .sidebar-menu > li > a{
     font-weight: normal !important;
}
.main-sidebar li.treeview  a{
    font-weight:normal;
}
label{
    font-weight:normal;
}
th{
 font-weight:600;
}
.main-sidebar ul li a{
    font-size: 0.85em !important;
    
}
/* --------------- */

i, span {
    display: inline-block;
}
.modal-open {
  overflow: inherit;
}

.bg-primary {
    background-color:#e7e7e7;
    color:#333333;
}
.btn-nuevo-group {
    margin-right:5px; 
    float:left !important;
}

.modal-open {
    padding-right: 0 !important;
    overflow-y: auto;
}

.modal {
    overflow-y: auto;
}
.modal .modal-footer {
    padding: 0;
}
.modal-body {
    padding-bottom:0px !important;
}
.busqCod {
    border-color:rgb(105, 167, 108);
}
.iconcargar {
    display:    none;
    position:  fixed;
    z-index:    1000;
    bottom:        0;   
    right:       5px;
    height:      10%;   /*100% para pantalla completa*/
    width:       10%;
    background: url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}
/* Anytime the body has the loading class, our
   modal element will be visible */
/*body.loading .iconcargar {
    display: block;
}*/
.treeview-menu,.treeview-menu li {
    word-wrap: break-word
}
.modal-editar {
    border: 	#b3ffb3 solid 0.5px;
    border-radius: 10px;
}
 /*Input búsqueda - Por cada tabla agregar*/
#tblCategoria_filter,      #tblPerfil_filter,     #tblEstado_filter, 
#tblAyuda_filter,          #tblDocumento_filter,  #tblMedio_filter, 
#tblCategoriaCargo_filter, #tblEvaluacion_filter, #tblTipoEvaluacion_filter,
#tblTipoMedioComu_filter,  #tblMotivoEvaluacion_filter, #tblMedioComunicacion_filter,
 #tblEvaluacionDesempeño_filter {           
    text-align:center;
    margin-top:2px;
}

 /*Pager - Por cada tabla agregar*/
/*#tblCategoria_length, #tblPerfil_length, #tblEstado_length, 
#tblAyuda_length, #tblDocumento_length, #tblMedio_length, 
#tblCategoriaCargo_length, #tblEvaluacion_length, #tblTipoEvaluacion_length { 
    float:right !important;
    
}*/
.dataTables_length{
    float: right !important;
}

tr td {
    vertical-align: middle !important;   
}
tr th {
    text-align: center !important;
}
div.form-group label{
    white-space: nowrap; 
}

.btn-transparent {
    background: transparent;
    color: #F2F2F2;
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.btn-transparent:hover {
    background-color: #f9f9f9;
}

div.DTFC_RightWrapper {
    top: 4% !important;
}
div.DTFC_LeftBodyWrapper{

}
 .btn-buscar{
     color:#a2a3a4;
 }
 .label-alert{
     margin-top: -1px !important;
     overflow: visible;
     position: absolute;
     z-index: 1070;
     color: #ff6a73;
     opacity: 0.9;
     font-weight: 500;
     font-size: 11.5px;
 }

 .btn-editar{
     color: #92c696 !important; 
     width: 40px !important;
 }

 .btn-eliminar{
     color: #e5a6a4 !important; 
     width: 40px !important;
 }

 .glyphicon-editar{
    font-size:22px; 
    color:#92c696;
 }
  .glyphicon-guardar{
    font-size: 22px; 
    color: #566bb5;
  }
 .glyphicon-cancelar{
    font-size: 22px; 
    color: #ff6a73;
  }
 .col-acciones{
     padding:2px !important;
     white-space: nowrap;
 }

  .w-5{
    width:5%; 
 }
 .w-8{
    width:8%; 
 }
  .w-10{
    width:10%; 
  }
  .w-12{
    width:12%; 
  }
  .w-15{
    width:15%; 
  }
  .w-20{
    width:20%; 
  }
  .w-25{
    width:25%; 
  }
   .w-30{
    width:30%; 
  }
  .w-35{
    width:35%; 
  }
  .w-40{
    width:40%; 
  }
  .w-45{
    width:45%; 
  }
  .w-50{
    width:50%; 
  }
  .w-60{
    width:60%; 
  }
  .w-75{
    width:75%; 
  }
  .w-85{
    width:85%; 
  }
  .w-95{
    width:95%; 
  }
  .w-100{
    width:100%; 
  }


   .sidebar-menu  .treeview-menu::before{
       margin-top:20%;
    border-left: 1px solid #8b8d94;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
}
  .sidebar-menu .fa{
       position:relative;
       z-index:9999;
   }
.sidebar-menu .fa-circle{
    font-size:0.75em;
    margin-left:3px;
    color:#8b8d94;
  
}
.glyphicon.glyphicon-punto:before {
    content: "\25cf";
    font-size: 1.5em;
}
.treeview-menu>a::before{
    border-left:none !important;
}

@media (min-width: 768px) {
   .sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu  .treeview-menu::before{
       margin-top:0%;
    border-left: 1px solid #8b8d94;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
}
}